

<script>
   function confirmPassword() {
      var pw1 = document.all['user_password'].value;    
      var pw2 = document.all['user_confirm_password'].value;  

     <% if ( ! user.id) { %>
        if (!pw1 || !pw2) {
           alert('Debe rellenar los campos de Password y Confirmación.');
           return false;         
        } 
     <% } %>

      if (pw1 == pw2) {
         return true;
      } else {
         alert('Los passwords introducidos no coinciden.');
         return false;		     
      } 
   }
</script>


  <div class='control-group <%- locals.validate_errors && validate_errors.login 
                                ? "error" : "" %>'>

     <% if ( ! user.id) { %>
        <label class='control-label' for="user_login">Login:</label>
        <div class='controls'> 
           <input type="text" id="user_login" name="user[login]" size="30" 
                  placeholder='Login para acceder a la cuenta' value='<%= user.login%>' />
        </div>   
     <% } else { %>
        Login: <%= user.login %>
     <% } %>
  </div>


  <div class='control-group <%- locals.validate_errors && validate_errors.name 
                                ? "error" : "" %>'>

    <label class='control-label' for="user_name">Nombre</label>
    <div class='controls'>

      <input type="text" id="user_name" name="user[name]" size="30" 
             placeholder='Nombre y aplellidos' value='<%= user.name%>' />
    </div>   
  </div>


  <div class='control-group <%- locals.validate_errors && validate_errors.email 
                                ? "error" : "" %>'>

    <label class='control-label' for="user_email">Email</label>
    <div class='controls'>
      <div class='input-prepend'>
        <span class='add-on'><i class='icon-envelope'></i></span>
        <input type="text" id="user_email" name="user[email]" size="30" 
             placeholder='Dirección de correo electrónico' value='<%= user.email %>' />
      </div>   
    </div>   
  </div>


  <div class="control-group">
    <label class='control-label' for="user_password">Password:</label>
    <div class='controls'>
      <input type="password" id="user_password" name="user[password]" size="30" 
             placeholder='Palabra de paso' value='' />
    </div>   
  </div>

  <div class="control-group">
    <label class='control-label' for="user_confirm_password">Confirmar Password:</label>
    <div class='controls'>
      <input type="password" id="user_confirm_password" size="30" 
            placeholder='Repita la palabra de paso' value='' />
    </div>   
  </div>

  <button type='submit' class='btn btn-success' onclick='return confirmPassword()'>
     Salvar
  </button>
  <button type='reset' class='btn'>Limpiar</button>

