
  <div class='<%- locals.validate_errors && validate_errors.login 
                  ? "invalid_field" : "field" %>'>

     <% if ( ! user.id) { %>
        <label for="user_login">Login:</label><br />
        <input type="text" id="user_login" name="user[login]" size="30" value='<%= user.login%>' />
     <% } else { %>
        Login: <%= user.login %>
     <% } %>
  </div>


  <div class='<%- locals.validate_errors && validate_errors.name 
                  ? "invalid_field" : "field" %>'>

    <label for="user_name">Nombre</label><br />
    <input type="text" id="user_name" name="user[name]" size="30" value='<%= user.name%>' />
  </div>


  <div class='<%- locals.validate_errors && validate_errors.email 
                  ? "invalid_field" : "field" %>'>

    <label for="user_email">Email</label><br />
    <input type="text" id="user_email" name="user[email]" size="30" value='<%= user.email %>' />
  </div>


  <div class="actions">
    <input name="commit" type="submit" value="Salvar" />
  </div>

