<h2>Post</h2>

<article>

<p>
  <b><%= post.title %></b>
  <br />
  <em><%= post.author && post.author.name || 'Sin autor' %></em>
</p>

<p>
  <%= post.updatedAt.toLocaleDateString() %>
</p>

<p><%- escapeText(post.body) %></p>

<% if (session.user && session.user.id == post.authorId) {%>
  <a href="/posts/<%= post.id %>/edit"> Editar </a>
<% } %>

<% if (session.user) { %>
  <% if (favorite.postId == post.id) { %>
  	<form method='post' action='/users/<%= post.authorId %>/favourites/<% post.id %>'>
  		<inpute type='hidden' name='_method' value='delete'>
  		<input name="commit" type="submit" value="Favorito-quitar" />
  	</form>
  <% } else { %>
  	<form method='post' action='/users/<%= post.authorId %>/favourites/<% post.id %>'>
  		<inpute type='hidden' name='_method' value='put'>
  		<input name="commit" type="submit" value="Favorito-añadir" />
  	</form>
  <% } %>
<% } %>

<p>
Comentarios: <%= numComments %>
</p>

</article>

<hr />
<%- include ../comments/index.ejs %>
<hr />

<% if (session.user) { %>
   <blockquote>
      <%- include ../comments/new.ejs %> 
   </blockquote>
   <hr />
<% } %>

<a href="/posts"> Volver al índice de Posts</a>

