

 <div class="post">
    <div class="page-header">
      <h1>
        <%= post.title %>
        <small>por <em> <%= post.author && post.author.name || "Sin autor" %> </em></small>
      </h1>
     <em> <%= post.updatedAt.toLocaleDateString() %></em>
   </div>

   <p><%- escapeText(post.body) %></p>

   <% if (session.user && session.user.id == post.authorId) {%>  
     <a href="/posts/<%= post.id %>/edit"> Editar </a>
   <% } %>
</div>

<hr />
<%- include ../attachments/index.ejs %>
<hr />
<%- include ../comments/index.ejs %>
<hr />


<% if (session.user) { %>
   <blockquote>
      <%- include ../comments/new.ejs %> 
   </blockquote>
   <hr />
<% } %>

<a href="/posts"> Volver al índice de Posts</a>
